.callout[data-callout^="figure"] {
	padding: .5em;
	margin: .5em;
        text-align: center;

	& .callout-icon {
		display: none;
	}

	& .callout-title {
                display: none;
	}

	& .callout-content {
		--callout-content-background: rgba(0, 0, 0, 0);
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: none;
	}
}

.callout[data-callout^="figure-right"] {
	float: right;
	width: 50%;
}

.callout[data-callout^="figure-left"] {
	float: left;
	width: 50%;
}
